#python==3.10.11
APScheduler==3.10.1
asgiref==3.6.0
Django==4.2
django-apscheduler==0.6.2
django-compat==1.0.15
django-cors-headers==3.14.0       
djangorestframework==3.14.0       
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
tzlocal==4.3